@media(max-width:1600px){		
	#navbarResponsive .nav-item { margin: 0px 10px;}
	.navbar-dark .navbar-nav .show > .nav-link { color: #ffffff;}
	#navbarResponsive .navbar-nav.navbar-right .nav-item { margin: 0px 0px;}
	.logo a { font-size: 18px; line-height: 26px; }
	.affi-heading h2 { font-size: 22px; line-height: 26px;}
	.helpdesk { font-size: 13px; }
}

@media(max-width:1400px){
	.latest-news h2 , .imp-links h2 , .online-services h2 , .imp-notify h2 {
		color: #fff;
		font-size: 17px;
        word-break: break-all;
		margin: 0px;
	}
	#navbarResponsive .nav-item { margin: 0px 10px;}
	.affi-heading h2 { font-size: 20px; line-height: 26px;}
	.imp-notify ul { padding: 20px; }
	h2 {font-size:18px; padding: 11px 20px 10px;}
	.latest-news ul { padding: 20px; }
	.navbar-expand-lg .navbar-nav .nav-link { font-size: 16px; }
	.imp-links ul li img { height: 21px; position: relative; top: -3px;}
	.navbar-expand-lg .navbar-nav .dropdown-menu { top: 40px; }
	.logo a { font-size: 17px; line-height: 26px; }
	.dropdown-toggle::after { right: 0px;}
}
@media(max-width:1200px){	
	.navbar-expand-lg .navbar-nav .nav-link {font-size: 14px;}
	.navbar-dark .navbar-brand img { width: 135px;}
	h2 { font-size: 17px; padding: 12px 16px 12px;}
	.logo span { font-size: 17px; line-height: 24px;}
	.imp-links ul li a { padding: 10px 15px; }
	.imp-links ul li { font-size: 16px; }
	.imp-links ul li img { height: 21px;}
	.content-wrap { margin: 35px 0px;}
	#navbarResponsive .nav-item { margin: 0px 3px;}
	.navbar-expand-lg .navbar-nav .dropdown-menu { top: 38px;}
	.helpdesk { font-size: 16px; }
	.online-services ul li a { font-size: 16px; padding: 10px 20px 10px 32px;}
	.online-services ul li::before { left: 17px; }
	.affi-heading h2 { font-size: 20px; line-height: 26px; text-align: center;}
	.navbar {padding-right: 0px; text-align: right;}
}

@media(min-width:992px)
{
	.dropdown:hover>.dropdown-menu { display: block;}
	.navbar-right { float: right !important; margin-right: -15px;}
}
	


@media(max-width:991px)
{
	.mainnav .navbar-nav .dropdown-toggle::after {
		margin-top: 8px;
		right: 15px;
	}
	.navbar-expand-lg .navbar-nav .nav-link {
		text-align: left;
	}
	.navbar-dark .navbar-brand { padding-left: 5px;}
	.navbar-dark .navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
	outline: 0;}
	
	.navbar-dark .navbar-toggler { margin-top: 0px; position: absolute; border: 2px solid #fff; right: 15px; top: 4px; padding: 4px 8px;}
	#navbarResponsive { position: absolute; right: 0px; left:0; top: 49px; width: 100%; z-index: 4; background: #fff; border: 1px solid #eee; border-bottom: 0px;
    border-top: 0px; }
	
	.mainnav .navbar-nav .dropdown-item {padding: 10px 15px; border-bottom: 1px solid #eee; background: #f9f9f9;}
	.mainnav .navbar-nav .dropdown-item:last-child {border-bottom:0px;}
	.nav-item.dropdown.show .nav-link {color:#ffea36;}
	
	.navbar-expand-lg .navbar-nav .dropdown-menu { box-shadow: none;}
	
	.navbar { padding-bottom: 15px; }
	
	.navbar-expand-lg .navbar-nav .dropdown-menu { position: relative; background: #22409a; border: 0px; padding: 0px; min-width: 250px; white-space: initial;
	top: 0px; border-radius: 0px;}
	#navbarResponsive .nav-item { margin: 0px 0px 0px 0px; border-bottom: 1px solid #eee;}
		
	.helpdesk { float: none; text-align: center; margin-top: 10px;}
	.helpdesk br {display:none;}
	.helpdesk span { margin: 0px 10px;}
	.menu-wrapper { height: 50px;}
	.navbar-dark .navbar-nav .active > .nav-link { color: #ffe34a;}
	.navbar-expand-lg .navbar-nav .nav-link { color: #fff;}
	.imp-links { height: auto; margin-bottom: 20px;}
	.imp-notify { height: auto; margin-bottom: 20px;}
	.navbar-dark .navbar-nav .nav-link:focus { color: #161616;}
	.dropdown-toggle::after { right: 25px;}
	.imp-links ul li img { position: relative; top: -3px;}
	.navbar-expand-lg .navbar-nav .nav-link { padding: 10px 15px; }
	.helpdesk i { font-size: 20px; }
	.latest-news { height: auto; margin: 0vmin 0rem 10vmin;}
	.logo a { display: block; margin: 0px;}
	.logo span { display: block; left: 0; right: 0; margin: 0 auto; text-align: center; top: auto; bottom: -30px; }
	.logo span br {display:none;}
	.logo { margin: 5px auto 0; display: flex; justify-content: center;}
	.logo img { display: block;}
	.toplinks ul { justify-content: center; }
	.online-services { height: auto; }
	.imp-notify { min-height: 400px;}
	.imp-notify iframe { min-height: 400px;}
	.latest-news { height: auto; margin: 0px auto 80px; min-height: 300px;}
	.latest-news iframe { min-height: 300px;}
	.mainnav .navbar-nav .dropdown-item { color: #ffffff; background: #0063bf;}
	.mainnav .navbar-nav .dropdown-item:focus { color: #ffffff;}
	.marquee p { animation: scroll-left 15s linear infinite; }
 	.affi-heading { text-align: center; margin-top: 40px;}
	.navbar-nav { background: #0057a8;}
	.navbar-dark .navbar-nav .nav-link:hover { color: #ffe34a;}
	.navbar-dark .navbar-nav .nav-link:focus { color: #ffffff;}
	
	
}

	

@media(max-width:767px)
{
	 
	.logo span { font-size: 15px; }
	.helpdesk { font-size: 13px; display:none;}
	.helpdesk-mobile {display:block; margin-top: 10px;}
	.helpdesk-mobile br {display:none;}
	.helpdesk-mobile span {margin:0px 10px;}
	.menu-wrapper { margin-top:0px;}	
	.content-wrap .col-lg-3 { order: 1;}
	.content-wrap .col-lg-3:last-child { order: 0;}
	.toplinks { display: none;}
	.logo img { display: none;}
	.logo span { font-size: 15px;}
	.content-wrap { margin: 15px 0px 40px;}
	
 
}

@media only screen and (max-width:639px){
	
	.navbar-brand img { width: 80px;}
	
	.helpdesk i { font-size: 18px; }
	.navbar-dark .navbar-toggler { top: 5px; padding: 3px 6px;}
	.latest-news { height: auto; margin: 0vmin 0rem 16vmin;}
	.logo span { white-space: break-spaces; font-size: 15px; line-height: 18px; bottom: -33px;}
	.helpdesk { margin-top: 62px;}
	span.logo-hindi { bottom: -30px;}
	.latest-news { margin: 0vmin 0rem 6vmin;}
	.menu-wrapper { margin-top: 0px;}
	
	
}


@media(max-width:479px){
	
	h2 { font-size: 16px; padding: 10px 16px 10px;}
	.navbar-dark .navbar-brand { width: 140px;}
	#navbarResponsive { top:40px;}
	.helpdesk { font-size: 14px; }
	header .col-lg-6 { padding: 0px;}
	.navbar-brand img { width: 60px;}
	.logo span { font-size: 12px; line-height: 17px; margin-left: 0px;}
	.marquee p { padding: 10px 0px; }
	.content-wrap .col-lg-3 { padding: 0px;}
	.content-wrap .col-lg-6 { padding: 0px;}
	footer .col-lg-12 { padding: 0px;}
	footer { font-size: 14px; }
	.navbar-dark .navbar-toggler { right: 15px; }
	.latest-news { height: auto; margin: 0vmin 0rem 10vmin;}
	.toplinks { display: none;}
	.navbar-brand img { display: none;}
	.logo span { font-size: 13px; bottom: -34px;}
	span.logo-hindi { font-size: 13px; bottom: -25px; }
	.menu-wrapper { height: 44px;}
	.navbar-dark .navbar-toggler { top: 5px; padding: 0px 3px;}
	.marquee p { font-size: 15px; animation: scroll-left 10s linear infinite;}
	.helpdesk-mobile span { display: block;}
	.logo { margin: 14px auto 0; }
	
	.affi-heading h2 { font-size: 16px; line-height: 26px; }
	
	
	
}

